<h2>ユーザー情報編集</h2>
<%= form_with model: @end_user, url: end_users_information_path do |f| %>

<div class="field">
  <%= f.label :ニックネーム %>
  <%= f.text_field :nick_name %>
</div>
<div class="field">
  <%= f.label :プロフィール画像 %>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  <%= f.submit "変更を保存" %>
  <%= link_to "退会する",  end_users_withdrawal_check_path, class:'btn btn-danger mb-2' %>
</div>
<div class="field">
  
<% end %>