<h2>新規まちねこ投稿</h2>
  <%= form_with model: @post_machineko, url: post_machinekoes_path, method: :post do |f| %>
    <div class="action">
      <%= f.label :image,"画像・動画選択" %><br>
        <%= f.file_field :image, accept: "image/*" %><br>
      <%= f.label :caption,"キャプション" %><br>
        <%= f.text_field :caption %><br>
      <%= f.label :shot_address,"撮影場所" %><br>
        <%= f.text_field :shot_address, placeholder: "例：〇〇駅の近く" %><br>
        <%= f.text_field :latitude, :value =>"緯度", id: :lat %>
        <%= f.text_field :longitude, :value =>"経度", id: :lng %>
      <%= f.submit %>
    </div>
  <% end %>

<!--検索結果を表示させるためのディスプレイ-->
<div id="display"></div>

 <!--Google MAPを表示させる-->
 <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

 <script>
 //初期MAP画面設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6803997, lng:139.7690174},
    zoom: 15,
  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      //マーカーの複数NG
      if (aft == true) {
        marker.setMap(null);
      }
      //新規マーカーを作成
      map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true // ドラッグ可能にする
      });

      //二度目以降かチェック
      aft =true

      //検索した時に緯度経度を入力
      document.getElementById('lat').value = results[ 0 ].geometry.location.lat();
      document.getElementById('lng').value = results[ 0 ].geometry.location.lng();

      // マーカーのドラッグ終了時のイベント
      google.maps.event.addListener( marker, 'dragend', function(ev){
        // 引数evの、プロパティ.latLngが緯度経度
        document.getElementById('lat').value = ev.latLng.lat();
        document.getElementById('lng').value = ev.latLng.lng();
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap" async defer></script>