<h2>まちねこ投稿詳細</h2>
<!--投稿詳細-->
<div>
  <%= image_tag @post_machineko.get_image %>
  <p><%= image_tag @post_machineko.end_user.get_profile_image %></p>
  <p><%= @post_machineko.end_user.nick_name %></p>
  <p><%= @post_machineko.caption %></p>
  <p><%= @post_machineko.shot_address %></p>
  <p>投稿日時：<%= @post_machineko.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_machineko.end_user == current_end_user || admin_signed_in? %>
    <%= link_to "削除", post_machineko_path(@post_machineko), method: :delete %>
    <%= link_to "編集",  edit_post_machineko_path(@post_machineko) %>
  <% end %>
  <!--いいね機能-->
  <% if @post_machineko.favorited_by?(current_end_user) %>
    <p>
      <%= link_to post_machineko_favorites_path(@post_machineko), method: :delete  do %>
        ♥<%= @post_machineko.favorites.count %>いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_machineko_favorites_path(@post_machineko), method: :post  do %>
        ♡<%= @post_machineko.favorites.count %>いいね
      <% end %>
    </p>
  <% end %>
</div>

<!--コメントフォーム-->
<div>
  <p>コメント件数：<%= @post_machineko.post_comments.count %></p>
  <% @post_machineko.post_comments.each do |post_comment| %>
    <% if post_comment.end_user.is_deleted == false %>
      <p><%= image_tag post_comment.end_user.get_profile_image %></p>
      <%= post_comment.end_user.nick_name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% if post_comment.end_user == current_end_user %>
        <%= link_to "削除", post_machineko_post_comment_path(post_comment), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post_machineko, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>