<!DOCTYPE html>
<html>
  <head>
    <title>Nekomach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='navbar-collapse justify-content-center' >
        <h2 class='ml-5'>
          <% if admin_signed_in? %>
            <%= link_to 'ねこまち', admin_root_path, class:'text-light' %>
          <% else %>
            <%= link_to 'ねこまち', root_path, class:'text-light' %>
          <% end %>
        </h2>
        <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5' >
          <ul class='nav navbar-nav ml-aut'>
            <% if end_user_signed_in? %>
            <!--顧客がログインしているとき-->
              <li>
                <%= link_to end_users_my_page_path, class:'light' do %>
                  マイページ
                <% end %>
              </li>
              <li>
                <%= link_to destroy_end_user_session_path, method: :delete, class:'nav-link text-light' do %>
                  ログアウト
                <% end %>
              </li>
              <li>
                <%= current_end_user.nick_name %>
              </li>

            <% else %>
              <!--ログインしていないとき-->
              <li>
                <%= link_to new_end_user_registration_path, class:'light' do %>
                  新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_end_user_session_path, class:'light' do %>
                  ログイン
                <% end %>
              </li>
              <li>
                ゲストユーザー
              </li>
            <% end %>
            <%# elsif admin_signed_in? %>
            <!--管理者がログインしているとき-->
            <!--<li>-->
              <%#= link_to destroy_end_user_session_path, method: :delete, class:'nav-link text-light' do %>
            <!--    ログアウト-->
              <%# end %>
            <!--</li>-->
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>