<!DOCTYPE html>
<html>
  <head>
    <title>Nekomach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h2 class='ml-5'>
            <% if admin_signed_in? %>
              <%= link_to 'ねこまち', admin_root_path, class:'nav-link text-dark' %>
            <% else %>
              <%= link_to 'ねこまち', root_path, class:'nav-link text-dark' %>
            <% end %>
          </h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav ml-auto ">
              <%= render 'public/post_machinekoes/search_form' %>
              <% if end_user_signed_in? %>
              <!--エンドユーザーがログインしているとき-->
                <li class="nav-item">
                  <%= link_to end_users_my_page_path, class:'nav-link text-dark' do %>
                    <span><i class="fas fa-home fa-lg"></i><%= current_end_user.nick_name %>さんのMyPage</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_end_user_session_path, method: :delete, class:'nav-link text-dark' do %>
                  <span><i class="fas fa-running fa-lg"></i>ログアウト</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_post_machineko_path, class:"nav-link text-dark", data:{ turbolinks: false } do %>
                    <span><i class="fas fa-camera-retro fa-lg"></i>投稿</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class:"nav-link text-dark" do %>
                    <span><i class="fas fa-cat fa-lg"></i>まち猫</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to favorites_my_favorites_path, class:"nav-link text-dark" do %>
                    <span><i class="far fa-thumbs-up fa-lg"></i>お気に入り</span>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
              　<!--管理者がログインしているとき-->
                <li class="nav-item">
                  <%= link_to admin_end_users_path, class:'nav-link text-dark' do %>
                    【管理者ユーザー】
                 <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class:'nav-link text-dark' do %>
                    ログアウト
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_end_users_path, class:'nav-link text-dark' do %>
                    ユーザ一覧
                 <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_post_machinekoes_path, class: 'nav-link text-dark' do %>
                    まちねこ一覧
                  <% end %>
                </li>
                <li class="nav-item">
                 <%= link_to admin_post_comments_path, class:'nav-link text-dark' do%>
                   コメント一覧
                 <% end %>
                </li>
              <% else %>
                <!--ログインしていないとき-->
                <li class="nav-item">
                  <%= link_to new_end_user_registration_path, class:'nav-link text-dark' do %>
                    <span><i class="fas fa-plus-circle fa-lg"></i>新規登録</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_end_user_session_path, class:'nav-link text-dark' do %>
                    <span><i class="fas fa-sign-in-alt fa-lg"></i>ログイン</span>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_end_user_session_path, class:'nav-link text-dark' do %>
                    ゲストユーザー
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to root_path, class:"nav-link text-dark" do %>
                    <span><i class="fas fa-cat fa-lg"></i>まち猫</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
    <%= yield %>
    </main>
　  <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>猫とmuchするSNS</p>
            <h2>ねこまち</h2>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>